
.quantity_input_wrapper {
    border-radius: 5px;
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.quantity_input_wrapper .control.custom-qty {
    border: 1px solid #123663;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    padding: 3px;
    width: 100%;
    min-width: 100px;
}

.quantity_input_wrapper.loading {
    opacity: 0.5;
}

.quantity_input_wrapper.warning {
    border: 1px solid #c41b14;

}

.quantity_input_wrapper.warning input {
    color: #c41b14;
}

.quantity_input_wrapper.warning button {
    color: #c41b14;
}

.quantity_input_wrapper.error {
    border: 1px solid #c41b14;
}

.quantity_input_wrapper button {
    color: #123663;
    cursor: pointer;
    background-color: transparent;
    font-size: 21px;
    font-weight: 600;
    border: none;
    margin: 0;
    height: 39px;
}

.quantity_input_wrapper input.qty {
    background-color: #e8f6fb;
    border: none;
    text-align: center;
    padding: 8px;
    height: 35px;
    font-size: 13px;
    border-radius: 3px;
}

.product-view .product-qty {
    border-color: transparent;
}

.quantity_input__error-message {
    color: #c41b14;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    width: 150px;
    display: block;
}

.cart.table-wrapper .col.qty .input-text,
.cart.table-wrapper .col.qty input.qty {
    margin-top: 0;
}